body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#authorModelIds_chosen {
	min-width: 60ex;
}

.active {
	margin-left: 2px;
}

.table,
tbody>tr>th {
	text-align: center;
}

.table>tbody>tr>th {
	padding: 8px 0;
}

.table>tbody>tr>th:first-child {
	padding-left: 8px;
}

.actions {
	text-align: center;
}

.mainBlock {
	margin-bottom: 30px;
}

.btn-danger {
	background-color: #6a342d;
	border: 0;
}

a .btn-danger {
	color: #ffa500;
}

.btn-danger:hover {
	background-color: #8a544d;
}

.btn-default {
	background-color: #003B46;
	color: #2aa198;
	border: 0;
}

#authorModelIds_chosen {
	min-width: 100%;
}

.search-choice {
	white-space: nowrap;
	overflow: hidden;
}

.search-choice-close {
	margin-right: ex;
}