body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#authorModels_chosen {
	min-width: 60ex;
}

.active {
	margin-left: 2px;
}

.table {
	table-layout: fixed;
}

.table,
tbody > tr > th {
	text-align: center;
}

	.table > tbody > tr > th {
		padding: 8px 0;
	}

		.table > tbody > tr > th:first-child {
			padding-left: 8px;
		}

.actions {
	text-align: center;
}

.mainBlock {
	margin-bottom: 30px;
}

.btn-danger {
	background-color: #6a342d;
	border: 0;
}

	.btn-danger:hover {
		background-color: #8a544d;
	}

a .btn-danger {
	color: #ffa500;
}

.btn-default {
	background-color: #003B46;
	color: #2aa198;
	border: 0;
}

#authorModels_chosen {
	min-width: 100%;
}

.search-choice {
	white-space: nowrap;
	overflow: hidden;
}

.asd:first-letter{
    text-transform: uppercase;
}

.detailsBlock {
	margin-bottom: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	border: transparent solid 1px;
	border-bottom: darkslategrey solid 1px;
}

hr {
	border-color: darkslategrey;
}

.noOverflow {
	overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.userInfo {
	margin-bottom: 2ex;
	margin-left: 12ex;

	color:#a29200;

	min-height: 1.5ex;
}

.beware {
    color: red !important;
    font-size: 2ex;
    text-align: center;
    text-decoration: underline;
}

.data-tooltip {
    cursor: help;
}

.fail {
	color: red;
}

.success {
    color: lightgreen;
}

.noFocus:focus  {
    outline: none;

}