.quality {
	margin: 10px;
	line-height: 3ex;
	font-size: 3ex;
}

.afterInputElement:after {
	content: 'a';
}

.qualitiesForm input[type=submit] {
	margin-left: 1ex;
}

.resultBox {
	margin: 10px;
	border: 4px #073642 solid;
	padding-top: 15px;
	padding-bottom: 15px;
}