.username {
	color: #a29200;
	margin-left: 1ex;
}

.tooltip {
	white-space: pre-wrap
}

.tooltip-inner {
	background-color: #050612;
	color:lightblue;
	text-align: left;
}

.emailInputSuccessMessage {
	color: #a29200;
}

.emailInputClientFailMessage,
.emailInputServerFailMessage,
.serverFailMessage {
	color: red;
}

.userDetailsMessages {
    margin-left: 5ex;
}

.serverFailMessage,
.successMessage {
    display: inline-block;
    
}

.serverFailMessage {
    visibility:visible;
    opacity:1;
    transition:opacity 0.5s linear;
}

.successMessage {
    color: lightgreen;

    visibility:visible;
    opacity:1;
    transition:visibility 0s linear 0.5s, opacity 0.5s linear;
}

.hiddenElement {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s, opacity 0.5s linear;
}


    
.glyphicon-question-sign {
    padding-right: 0;
}