.username {
	color: #a29200;
	margin-left: 1ex;
}

.tooltip {
	white-space: pre-wrap
}

.tooltip-inner {
	background-color: #050612;
	color:lightblue;
	text-align: left;
}

.emailInputSuccessMessage {
	color: #a29200;
}

.emailInputClientFailMessage,
.emailInputServerFailMessage {
	color: red;
}

.userDetailsMessages {
    margin-left: 5ex;
}

.serverFailMessage {
    display: inline-block;

    visibility:visible;
    opacity:1;
    transition:opacity 0.5s linear;
}

.successMessage {
    display: inline-block;

    visibility:visible;
    opacity:1;
    transition:visibility 0s linear 0.5s, opacity 0.5s linear;
}

.hiddenElement {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s, opacity 0.5s linear;
}