@import "colorSchema";

.quality {
	line-height: 3ex;
	font-size: 3ex;
}

.afterInputElement:after {
	content: 'a';
}

.qualitiesForm input[type=submit] {
	margin-left: 1ex;
}

.resultBox {
	margin: 10px;
	border: 4px $poeResultBoxBorder solid;
	padding-top: 15px;
	padding-bottom: 15px;
}

.qualityGroupList {
	margin-bottom: 20px;
}

.glyphicon.spinning {
	animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg); }
	to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

.clearQualities {
	margin-top: 10px;
}

.options {
    display:none;
    position:absolute;
    top:100%;
    z-index:2;
    margin:0 0;
    padding:0 0;

    list-style:none;

    background-color: $poeOptionsBackground;

}
	.options li {
		border: $poeOptionBorder solid 1px;
		text-align: center;
		cursor: pointer;
	}

	.options li:hover {
		background-color: $poeOptionBackgroundHover;
	}

.select {
	margin: 10px;
}