@import "colors";

// common colors

$colorBackgroundPrimary: $colorDantee;
$colorBackgroundSecondary: $colorColdSherpaBlue;
$colorTextPrimary: $colorColdGrannySmith;
$colorTextSecondary: $colorColdJungleGreen;
$colorTextInfo: $colorPirateGold;
$colorBackgroundDanger: $colorColdSpice;
$colorBackgroundDangerHover: $colorSpicyMix;
$colorBeware: $colorRed;
$colorFail: $colorRed;
$colorSuccess: $colorPastelGreen;
$colorDefaultBorder: $colorBlack;

// individual colors

$abbrBorder: $colorBlueTiber;


$alertDangerBackground: $colorOrangeRoughy;
$alertDangerBorder: $colorOrangeRoughy;
$alertDangerHrBorderTop: $colorFieryOrange;
$alertDangerLinkText: $colorMercury;
$alertDangerText: $colorWhite;

$alertInfoBackground: $colorColdCuriousBlue;
$alertInfoBorder: $colorColdCuriousBlue;
$alertInfoHrBorderTop: $colorMariner;
$alertInfoLinkText: $colorMercury;
$alertInfoText: $colorWhite;

$alertSuccessBackground: $colorColdJungleGreen;
$alertSuccessBorder: $colorColdJungleGreen;
$alertSuccessHrBorderTop: $colorLochinvar;
$alertSuccessLinkText: $colorWhite;
$alertSuccessText: $colorWhite;

$alertWarningBackground: $colorOrangeRoughy;
$alertWarningBorder: $colorOrangeRoughy;
$alertWarningHrBorderTop: $colorFieryOrange;
$alertWarningLinkText: $colorMercury;
$alertWarningText: $colorWhite;


$badgeBackground: $colorColdCuttySark;
$badgeText: $colorWhite;
$badgeTextFocus: $colorWhite;


$bgDangerBackgound: $colorBackgroundDanger;
$bgInfoBackgound: $colorColdCuriousBlue;
$bgPrimaryBackgound: $colorTextInfo;
$bgPrimaryText: $colorWhite;
$bgSuccessBackgound: $colorTextSecondary;
$bgText: $colorWhite;
$bgWarningBackgound: $colorOrangeRoughy;


$blockquoteBorder: $colorBlueTiber;
$blockquoteBorder: $colorDustyGray;
$blockquoteText: $colorTextPrimary;


$breadcrumbActiveText: $colorTextPrimary;
$breadcrumbBackground: $colorBlueTiber;
$breadcrumbFirstText: $colorTextPrimary;


$btnBackground: $colorBackgroundSecondary;
$btnBorder: $colorColdCuttySark;

$btnDangerActiveBackground: $colorTabasco;
$btnDangerActiveBackgroundFocus: $colorPueblo;
$btnDangerActiveBorder: $colorTabasco;
$btnDangerActiveBorderFocus: $colorCioccolato;
$btnDangerActiveText: $colorWhite;
$btnDangerActiveTextFocus: $colorWhite;

$btnDangerBackground: $colorBackgroundDanger;
$btnDangerBackgroundHover: $colorBackgroundDangerHover;
$btnDangerBorder: $colorOrangeRoughy;
$btnDangerBorderFocus: $colorCioccolato;
$btnDangerDisabledBackgroundFocus: $colorOrangeRoughy;
$btnDangerDisabledBorderFocus: $colorOrangeRoughy;
$btnDangerText: $colorTextInfo;
$btnDangerTextFocus: $colorWhite;

$btnDefaultBackground: $colorColdCuttySark;
$btnDefaultBackgroundFocus: $colorRiverBed;
$btnDefaultBorder: $colorColdCuttySark;
$btnDefaultBorderFocus: $colorOuterSpace;
$btnDefaultText: $colorTextSecondary;
$btnDefaultTextFocus: $colorWhite;
$btnDisabledLinkTextHover: $colorTextSecondary;

$btnInfoActiveBackground: $colorMatisse;
$btnInfoActiveBackgroundFocus: $colorBlumine;
$btnInfoActiveBorder: $colorMatisse;
$btnInfoActiveBorderFocus: $colorChathamsBlue;
$btnInfoActiveText: $colorWhite;
$btnInfoActiveTextFocus: $colorWhite;

$btnInfoBackground: $colorColdCuriousBlue;
$btnInfoBackgroundFocus: $colorMatisse;
$btnInfoBorder: $colorColdCuriousBlue;
$btnInfoBorderFocus: $colorChathamsBlue;
$btnInfoDisabledBackgroundFocus: $colorColdCuriousBlue;
$btnInfoDisabledBorderFocus: $colorColdCuriousBlue;
$btnInfoText: $colorWhite;
$btnInfoTextFocus: $colorWhite;

$btnLinkText: $colorTextSecondary;
$btnLinkTextHover: $colorTextSecondary;

$btnPrimaryActiveBackground: $colorPirateGold;
$btnPrimaryActiveBackgroundFocus: $colorSaddleBrown;
$btnPrimaryActiveBorder: $colorCinnamon;
$btnPrimaryActiveBorderFocus: $colorCola;
$btnPrimaryActiveText: $colorWhite;
$btnPrimaryActiveTextFocus: $colorWhite;

$btnPrimaryBackground: $colorYukonGold;
$btnPrimaryBackgroundFocus: $colorYukonGold;
$btnPrimaryBorder: $colorPirateGold;
$btnPrimaryBorderFocus: $colorCola;
$btnPrimaryDisabledBackgroundFocus: $colorPirateGold;
$btnPrimaryDisabledBorderFocus: $colorPirateGold;
$btnPrimaryText: $colorWhite;
$btnPrimaryTextFocus: $colorWhite;

$btnSuccessActiveBackground: $colorElm;
$btnSuccessActiveBackgroundFocus: $colorGreenPea;
$btnSuccessActiveBorder: $colorElm;
$btnSuccessActiveBorderFocus: $colorFirefly;
$btnSuccessActiveText: $colorWhite;
$btnSuccessActiveTextFocus: $colorWhite;

$btnSuccessBackground: $colorColdJungleGreen;
$btnSuccessBackgroundFocus: $colorElm;
$btnSuccessBorder: $colorColdJungleGreen;
$btnSuccessBorderFocus: $colorFirefly;
$btnSuccessDisabledBackgroundFocus: $colorColdJungleGreen;
$btnSuccessDisabledBorderFocus: $colorColdJungleGreen;
$btnSuccessText: $colorWhite;
$btnSuccessTextFocus: $colorWhite;

$btnText: $colorTextSecondary;
$btnTextFocus: $colorWhite;

$btnWarningActiveBackground: $colorTabasco;
$btnWarningActiveBackgroundFocus: $colorPueblo;
$btnWarningActiveBorder: $colorTabasco;
$btnWarningActiveBorderFocus: $colorCioccolato;
$btnWarningActiveText: $colorWhite;
$btnWarningActiveTextFocus: $colorWhite;

$btnWarningBackground: $colorOrangeRoughy;
$btnWarningBackgroundFocus: $colorTabasco;
$btnWarningBorder: $colorOrangeRoughy;
$btnWarningBorderFocus: $colorCioccolato;
$btnWarningDisabledBackgroundFocus: $colorOrangeRoughy;
$btnWarningDisabledBorderFocus: $colorOrangeRoughy;
$btnWarningText: $colorWhite;
$btnWarningTextFocus: $colorWhite;


$captionText: $colorAthsSpecial;


$carouselCaptionText: $colorWhite;
$carouselControlText: $colorWhite;
$carouselControlTextFocus: $colorWhite;
$carouselIndicatorsActiveBackground: $colorWhite;
$carouselIndicatorsListItemBorder: $colorWhite;


$closeText: $colorTextPrimary;
$closeTextFocus: $colorTextPrimary;


$codeBackgound: $colorSoftPeach;
$codeText: $colorMaroonFlush;


$dropdownActiveMenuLinkBackground: $colorBlueTiber;
$dropdownActiveMenuLinkText: $colorWhite;
$dropDownBackground: $colorBlueTiber;
$dropDownBorder: $colorSilver;
$dropdownDisabledMenuLinkText: $colorAthsSpecial;
$dropdownHeaderText: $colorAthsSpecial;
$dropdownMenuDividerBackground: $colorBackgroundPrimary;
$dropdownMenuLinkText: $colorTextPrimary;
$dropdownMenuLinkTextFocus: $colorBackgroundPrimary;


$fieldsetBorder: $colorSilver;


$formControlBackground: $colorTowerGray;
$formControlBorderHover: $colorLightCornflowerBlue;
$formControlDisabledBackground: $colorRollingStone;
$formControlPlaceholderText: $colorRollingStone;
$formControlText: $colorBlueTiber;


$hasErrorBackground: $colorOrangeRoughy;
$hasErrorBorder: $colorOrangeRoughy;
$hasErrorBorder: $colorWhite;
$hasErrorBorderFocus: $colorMercury;
$hasErrorText: $colorOrangeRoughy;
$hasErrorText: $colorWhite;

$hasSuccessBackground: $colorTextSecondary;
$hasSuccessBorder: $colorColdJungleGreen;
$hasSuccessBorder: $colorWhite;
$hasSuccessBorderFocus: $colorMercury;
$hasSuccessText: $colorTextSecondary;
$hasSuccessText: $colorWhite;

$hasWarningBackground: $colorOrangeRoughy;
$hasWarningBorder: $colorOrangeRoughy;
$hasWarningBorder: $colorWhite;
$hasWarningBorderFocus: $colorMercury;
$hasWarningText: $colorOrangeRoughy;
$hasWarningText: $colorWhite;


$helpBlockText: $colorTiara;


$hrBackgound: $colorBlack;
$hrBorderColor: $colorDarkSlateGrey;
$hrLinearGradientCenter: $colorColdJellyBean;
$hrLinearGradientLeft: $colorDarkSlateGrey;
$hrLinearGradientRight: $colorDarkSlateGrey;


$hText: $colorTextPrimary;


$imgThumbnailBackgound: $colorBackgroundPrimary;
$imgThumbnailBorder: $colorAlto;


$inputGroupAddonBackground: $colorTextPrimary;
$inputGroupAddonText: $colorTextPrimary;


$jumbotronBackground: $colorBlueTiber;
$jumbotronBackground: $colorBlueTiber;
$jumbotronHrBorderTop: $colorBlackPearl;


$kbdBackgound: $colorMineShaft;
$kbdText: $colorWhite;


$labelDangerBackground: $colorBackgroundDanger;
$labelDangerBackgroundFocus: $colorBackgroundDangerHover;

$labelDefault: $colorColdCuttySark;
$labelDefaultFocus: $colorRiverBed;

$labelInfoBackground: $colorColdCuriousBlue;
$labelInfoBackgroundFocus: $colorMatisse;

$labelPrimaryBackground: $colorPirateGold;
$labelPrimaryBackgroundFocus: $colorPirateGold;

$labelSuccessBackground: $colorColdJungleGreen;
$labelSuccessBackgroundFocus: $colorElm;

$labelText: $colorWhite;
$labelTextFocus: $colorWhite;

$labelWarningBackground: $colorOrangeRoughy;
$labelWarningBackgroundFocus: $colorTabasco;


$legendBorder: $colorBlueTiber;
$legendText: $colorColdGrannySmith;


$linkBgDangerBackgoundHover: $colorBackgroundDangerHover;
$linkBgInfoBackgoundHover: $colorMatisse;
$linkBgPrimaryBackgoundHover: $colorYukonGold;
$linkBgSuccessBackgoundHover: $colorElm;
$linkBgWarningBackgoundHover: $colorBackgroundDangerHover;


$linkTextDangerHover: $colorMercury;
$linkTextInfoHover: $colorMercury;
$linkTextPrimary: $colorTextSecondary;
$linkTextPrimaryHover: $colorYukonGold;
$linkTextSuccess: $colorMercury;
$linkTextWarningHover: $colorMercury;


$listGroupItemActiveBackgroundFocus: $colorBlueTiber;
$listGroupItemActiveBorderFocus: $colorBlueTiber;
$listGroupItemActiveTextFocus: $colorWhite;

$listGroupItemBackgroundFocus: $colorBlueTiber;
$listGroupItemBorder: $colorBlueTiber;

$listGroupItemDangerActiveBackgroundFocus: $colorWhite;
$listGroupItemDangerActiveBorderFocus: $colorWhite;
$listGroupItemDangerActiveTextFocus: $colorWhite;

$listGroupItemDangerBackground: $colorOrangeRoughy;

$listGroupItemDangerLinkBackgroundFocus: $colorFieryOrange;
$listGroupItemDangerLinkText: $colorWhite;
$listGroupItemDangerLinkTextFocus: $colorWhite;

$listGroupItemDangerText: $colorWhite;

$listGroupItemDisabledTextFocus: $colorBlueTiber;

$listGroupItemInfoActiveBackgroundFocus: $colorWhite;
$listGroupItemInfoActiveBorderFocus: $colorWhite;
$listGroupItemInfoActiveTextFocus: $colorWhite;

$listGroupItemInfoBackground: $colorColdCuriousBlue;

$listGroupItemInfoLinkBackgroundFocus: $colorMariner;
$listGroupItemInfoLinkText: $colorWhite;
$listGroupItemInfoLinkTextFocus: $colorWhite;

$listGroupItemInfoText: $colorWhite;

$listGroupItemSuccessActiveBackgroundFocus: $colorWhite;
$listGroupItemSuccessActiveBorderFocus: $colorWhite;
$listGroupItemSuccessActiveTextFocus: $colorWhite;

$listGroupItemSuccessBackground: $colorColdJungleGreen;

$listGroupItemSuccessLinkBackgroundFocus: $colorLochinvar;
$listGroupItemSuccessLinkText: $colorWhite;
$listGroupItemSuccessLinkTextFocus: $colorWhite;

$listGroupItemSuccessText: $colorWhite;

$listGroupItemText: $colorTextPrimary;
$listGroupItemTextFocus: $colorWhite;

$listGroupItemWarningActiveBackgroundFocus: $colorWhite;
$listGroupItemWarningActiveBorderFocus: $colorWhite;
$listGroupItemWarningActiveTextFocus: $colorWhite;

$listGroupItemWarningBackground: $colorOrangeRoughy;

$listGroupItemWarningLinkBackgroundFocus: $colorFieryOrange;
$listGroupItemWarningLinkText: $colorWhite;
$listGroupItemWarningLinkTextFocus: $colorWhite;

$listGroupItemWarningText: $colorWhite;


$markBackground: $colorYellow;
$markClassBackground: $colorOrangeRoughy;
$markText: $colorBlack;


$mediaPrintText: $colorBlack;


$modalBackdropBackground: $colorBlack;
$modalContentBackground: $colorBlueTiber;
$modalContentBorder: $colorDantee;
$modalFooterBorder: $colorDantee;
$modalHeaderBorder: $colorDantee;


$navigationBrandText: $colorWhite;
$navigationBrandTextFocus: $colorWhite;

$navigationDefaultBackground: $colorBlueTiber;
$navigationDefaultOpenDropdownBackground: $colorBlueTiber;
$navigationDefaultOpenDropdownText: $colorWhite;

$navigationDisabledLinkText: $colorTextPrimary;
$navigationDisabledLinkTextFocus: $colorTextPrimary;

$navigationDividerBackground: $colorWhiteSand;

$navigationInverseBackground: $colorPirateGold;
$navigationInverseBorder: $colorYukonGold;
$navigationInverseFormBorder: $colorYukonGold;

$navigationInverseNapOpenDropdownActiveBackground: $colorYukonGold;
$navigationInverseNapOpenDropdownActiveText: $colorWhite;
$navigationInverseNapOpenDropdownDividerBackground: $colorYukonGold;
$navigationInverseNapOpenDropdownHeaderBorder: $colorYukonGold;
$navigationInverseNapOpenLinkBackground: $colorYukonGold;
$navigationInverseNapOpenLinkText: $colorYukonGold;
$navigationInverseNavActiveLinkBackground: $colorYukonGold;
$navigationInverseNavActiveLinkText: $colorWhite;

$navigationInverseText: $colorWhite;
$navigationInverseTextFocus: $colorWhite;
$navigationInverseTextText: $colorWhite;

$navigationNavActiveLinkBackground: $colorBlueTiber;
$navigationNavActiveLinkText: $colorWhite;

$navigationNavOpenLinkBackground: $colorBlueTiber;
$navigationNavOpenLinkText: $colorWhite;

$navigationOpenLinkBackground: $colorColdJungleGreen;

$navigationPillaActiveLinkBackground: $colorBlueTiber;
$navigationPillaActiveLinkText: $colorWhite;

$navigationTabBorder: $colorBlueTiber;

$navigationTabJustifiedActiveLinkBorder: $colorBlueTiber;
$navigationTabJustifiedLinkBorder: $colorBlueTiber;
$navigationTabJustifiedLinkBorderFocus: $colorDantee;

$navigationTabLinkActiveBackground: $colorBackgroundPrimary;
$navigationTabLinkActiveBorder: $colorBlueTiber;
$navigationTabLinkActiveBottomBorder: $colorBackgroundPrimary;
$navigationTabLinkActiveText: $colorWhite;

$navigationTabLinkBorder: $colorBlueTiber;
$navigationTextText: $colorTextPrimary;


$outputText: $colorBlueTiber;


$pageHeaderText: $colorBlueTiber;


$pagerBorder: $colorBlueTiber;
$pagerBorderFocus: $colorBlueTiber;
$pagerDisabled: $colorBlueTiber;


$paginationActiveBackgroundFocus: $colorBlueTiber;
$paginationActiveBorderFocus: $colorBlueTiber;
$paginationBackgroundFocus: $colorBlueTiber;
$paginationBorder: $colorBlueTiber;
$paginationBorderFocus: $colorBlueTiber;
$paginationDisabledBorder: $colorBlueTiber;
$paginationDisabledText: $colorBlueTiber;
$paginationText: $colorTextSecondary;
$paginationTextFocus: $colorTextSecondary;


$panelDangerBorder: $colorOrangeRoughy;
$panelDangerPanelfooterPanelCollapsePanelBodyBorderBottom: $colorFieryOrange;
$panelDangerPanelHeadingBackground: $colorOrangeRoughy;
$panelDangerPanelHeadingBadgeBackground: $colorWhite;
$panelDangerPanelHeadingBadgeText: $colorOrangeRoughy;
$panelDangerPanelHeadingBorder: $colorOrangeRoughy;
$panelDangerPanelHeadingPanelCollapsePanelBodyBorderTop: $colorOrangeRoughy;
$panelDangerPanelHeadingText: $colorWhite;

$panelDefaultBorder: $colorBlueTiber;
$panelDefaultPanelFooterPanelCollapsePanelBodyBorderBottom: $colorBlueTiber;
$panelDefaultPanelHeadingBackground: $colorBlueTiber;
$panelDefaultPanelHeadingBadgeBackground: $colorWhite;
$panelDefaultPanelHeadingBadgeText: $colorBlueTiber;
$panelDefaultPanelHeadingBorder: $colorBlueTiber;
$panelDefaultPanelHeadingPanelCollapsePanelBodyBorderTop: $colorBlueTiber;
$panelDefaultPanelHeadingText: $colorWhite;

$panelFooterBackground: $colorBlueTiber;
$panelFooterBorder: $colorBlueTiber;

$panelGroupPanelFooterPanelCollapsePanelBodyBorderBottom: $colorBlueTiber;
$panelGroupPanelHeadingPanelCollapseListGroupBorderTop: $colorBlueTiber;

$panelInfoBorder: $colorColdCuriousBlue;
$panelInfoPanelFooterPanelCollapsePanelBodyBorderBottom: $colorColdCuriousBlue;
$panelInfoPanelHeadingBackground: $colorColdCuriousBlue;
$panelInfoPanelHeadingBadgeBackground: $colorWhite;
$panelInfoPanelHeadingBadgeText: $colorColdCuriousBlue;
$panelInfoPanelHeadingBorder: $colorColdCuriousBlue;
$panelInfoPanelHeadingPanelCollapsePanelBody: $colorColdCuriousBlue;
$panelInfoPanelHeadingText: $colorWhite;

$panelPrimaryBorder: $colorPirateGold;
$panelPrimaryPanelFooterPanelCollapsePanelBody: $colorPirateGold;
$panelPrimaryPanelHeadingBackground: $colorPirateGold;
$panelPrimaryPanelHeadingBadgeBackground: $colorWhite;
$panelPrimaryPanelHeadingBadgeText: $colorTextInfo;
$panelPrimaryPanelHeadingBorder: $colorPirateGold;
$panelPrimaryPanelHeadingPanelCollapsePanelBodyBorderTop: $colorPirateGold;
$panelPrimaryPanelHeadingText: $colorWhite;

$panelSuccessBorder: $colorColdJungleGreen;
$panelSuccessPanelFooterPanelCollapsePanelBody: $colorColdJungleGreen;
$panelSuccessPanelHeadingBackground: $colorColdJungleGreen;
$panelSuccessPanelHeadingBadgeBackground: $colorWhite;
$panelSuccessPanelHeadingBadgeText: $colorColdJungleGreen;
$panelSuccessPanelHeadingBorder: $colorColdJungleGreen;
$panelSuccessPanelHeadingPanelCollapsePanelBody: $colorColdJungleGreen;
$panelSuccessPanelHeadingText: $colorWhite;

$panelTableResponsivePanelBodyBorder: $colorBlueTiber;

$panelWarningBorder: $colorOrangeRoughy;
$panelWarningPanelFooterPanelCollapsePanelBodyBorderBottom: $colorOrangeRoughy;
$panelWarningPanelHeadingBackground: $colorOrangeRoughy;
$panelWarningPanelHeadingBadgeBackground: $colorWhite;
$panelWarningPanelHeadingBadgeText: $colorOrangeRoughy;
$panelWarningPanelHeadingBorder: $colorOrangeRoughy;
$panelWarningPanelHeadingPanelCollapsePanelBodyBorderTop: $colorOrangeRoughy;
$panelWarningPanelHeadingText: $colorWhite;


$personalPageUsername: $colorTextInfo;
$personalPageYourUser: $colorFirefly;


$poeOptionBackgroundHover: $colorRiverBed;
$poeOptionBorder: $colorRiverBed;
$poeOptionsBackground: $colorBlueTiber;
$poeResultBoxBorder: $colorBackgroundSecondary;


$popoverBackground: $colorBlueTiber;
$popoverBorder: $colorDantee;
$popoverLeftArrowAfterBorder: $colorBlueTiber;
$popoverTitleBackground: $colorBlueTiber;
$popoverTitleBorder: $colorBlueTiber;
$popoverTopArrowBorder: $colorDantee;


$preBackground: $colorMercury;
$preBorder: $colorWhiteSand;
$preCodeBackgound: $colorTransparent;
$preText: $colorBlueTiber;


$progressBackground: $colorBlueTiber;
$progressBarBackground: $colorPirateGold;
$progressBarDangerBackground: $colorOrangeRoughy;
$progressBarInfoBackground: $colorColdCuriousBlue;
$progressBarSuccessBackground: $colorColdJungleGreen;
$progressBarText: $colorWhite;
$progressBarWarningBackground: $colorOrangeRoughy;


$rootPhilosophyBorder: $colorDarkSlateGrey;


$skFoldingCubeBackground: $colorMineShaft;


$tableBackground: $colorBackgroundPrimary;
$tableBorder: $colorAlto;
$tableDanger: $colorBackgroundDanger;
$tableDangerHover: $colorBackgroundDangerHover;
$tableInfo: $colorColdCuriousBlue;
$tableInfoHover: $colorMariner;
$tableSuccess: $colorColdJungleGreen;
$tableSuccessHover: $colorLochinvar;
$tableTdBackground: $colorWhite;
$tableTdText: $colorWhite;
$tableTrBackground: $colorWhite;
$tableWarning: $colorOrangeRoughy;
$tableWarningHover: $colorFieryOrange;


$textDanger: $colorWhite;
$textDangerText: $colorOrangeRoughy;
$textInfo: $colorWhite;
$textInfoText: $colorColdCuriousBlue;
$textMuted: $colorAthsSpecial;
$textPrimary: $colorTextInfo;
$textPrimaryText: $colorPirateGold;
$textSuccess: $colorWhite;
$textSuccessText: $colorColdJungleGreen;
$textWarning: $colorWhite;
$textWarningText: $colorOrangeRoughy;


$thumbnailBackground: $colorDantee;
$thumbnailBorder: $colorAlto;
$thumbnailCaptionText: $colorTextPrimary;
$thumbnailLinkBorder: $colorColdJungleGreen;


$tooltipBorder: $colorBlack;
$tooltipInnerBackground: $colorBlack;
$tooltipInnerBackground: $colorBlack;
$tooltipInnerText: $colorRegentStBlue;
$tooltipInnerText: $colorWhite;


$urlSaveMessage: $colorTextInfo;


$userInfoTextColor: $colorTextInfo;


$wellBackground: $colorBlueTiber;
$wellBlockquoteBorder: $colorAlto;