$colorAbbey: #4C4F56;
$colorAcadia: #1B1404;
$colorAcapulco: #7CB0A1;
$colorAcorn: #6A5D1B;
$colorAeroBlue: #C9FFE5;
$colorAffair: #714693;
$colorAfghanTan: #86560A;
$colorAkaroa: #D4C4A8;
$colorAlabaster: #FFFFFF;
$colorAlbescentWhite: #F5E9D3;
$colorAlertTan: #9B4703;
$colorAllports: #0076A3;
$colorAlmondFrost: #907B71;
$colorAlpine: #AF8F2C;
$colorAlto: #DBDBDB;
$colorAluminium: #A9ACB6;
$colorAmazon: #3B7A57;
$colorAmericano: #87756E;
$colorAmethystSmoke: #A397B4;
$colorAmour: #F9EAF3;
$colorAmulet: #7B9F80;
$colorAnakiwa: #9DE5FF;
$colorAntiqueBrass: #704A07;
$colorAnzac: #E0B646;
$colorApache: #DFBE6F;
$colorApple: #4FA83D;
$colorAppleBlossom: #AF4D43;
$colorAppleGreen: #E2F3EC;
$colorApricot: #EB9373;
$colorApricotWhite: #FFFEEC;
$colorAqua: #A1DAD7;
$colorAquaHaze: #EDF5F5;
$colorAquamarine: #014B43;
$colorAquaSpring: #EAF9F5;
$colorAquaSqueeze: #E8F5F2;
$colorArapawa: #110C6C;
$colorArmadillo: #433E37;
$colorArrowtown: #948771;
$colorAsh: #C6C3B5;
$colorAshBrown: #2E1905;
$colorAsphalt: #130A06;
$colorAstra: #FAEAB9;
$colorAstral: #327DA0;
$colorAstronaut: #283A77;
$colorAstronautBlue: #013E62;
$colorAthensGrey: #EEF0F3;
$colorAthsSpecial: #ECEBCE;
$colorAtlantis: #97CD2D;
$colorAtoll: #0A6F75;
$colorAtomic: #314459;
$colorAubergine: #3B0910;
$colorAuChico: #97605D;
$colorAustralianMint: #F5FFBE;
$colorAvocado: #888D65;
$colorAxolotl: #4E6649;
$colorAzalea: #F7C8DA;
$colorAztec: #0D1C19;
$colorAzure: #315BA1;
$colorBahamaBlue: #026395;
$colorBahia: #A5CB0C;
$colorBajaWhite: #FFF8D1;
$colorBaliHai: #859FAF;
$colorBalticSea: #2A2630;
$colorBamboo: #DA6304;
$colorBandicoot: #858470;
$colorBanjul: #130A06;
$colorBarberry: #DED717;
$colorBarleyCorn: #A68B5B;
$colorBarleyWhite: #FFF4CE;
$colorBarossa: #44012D;
$colorBastille: #292130;
$colorBattleshipGrey: #828F72;
$colorBayLeaf: #7DA98D;
$colorBayofMany: #273A81;
$colorBazaar: #98777B;
$colorBean: #3D0C02;
$colorBeautyBush: #EEC1BE;
$colorBeeswax: #FEF2C7;
$colorBermuda: #7DD8C6;
$colorBermudaGrey: #6B8BA2;
$colorBerylGreen: #DEE5C0;
$colorBianca: #FCFBF3;
$colorBigStone: #162A40;
$colorBilbao: #327C14;
$colorBilobaFlower: #B2A1EA;
$colorBirch: #373021;
$colorBirdFlower: #D4CD16;
$colorBiscay: #1B3162;
$colorBismark: #497183;
$colorBisonHide: #C1B7A4;
$colorBitter: #868974;
$colorBitterLemon: #CAE00D;
$colorBizarre: #EEDEDA;
$colorBlackBean: #081910;
$colorBlackberry: #4D0135;
$colorBlackcurrant: #32293A;
$colorBlackForest: #0B1304;
$colorBlackHaze: #F6F7F7;
$colorBlackMagic: #251706;
$colorBlackMarlin: #3E2C1C;
$colorBlackPearl: #041322;
$colorBlackPepper: #0E0E18;
$colorBlackRock: #0D0332;
$colorBlackRose: #67032D;
$colorBlackRussian: #0A001C;
$colorBlackSqueeze: #F2FAFA;
$colorBlackWhite: #FFFEF6;
$colorBlackwood: #261105;
$colorBlanc: #F5E9D3;
$colorBleachedCedar: #2C2133;
$colorBleachWhite: #FEF3D8;
$colorBlossom: #DCB4BC;
$colorBlueBark: #041322;
$colorBlueBayoux: #496679;
$colorBlueBell: #220878;
$colorBlueChalk: #F1E9FF;
$colorBlueCharcoal: #010D1A;
$colorBlueChill: #0C8990;
$colorBlueDiamond: #380474;
$colorBlueDianne: #204852;
$colorBlueGem: #2C0E8C;
$colorBlueHaze: #BFBED8;
$colorBlueLagoon: #017987;
$colorBlueMarguerite: #7666C6;
$colorBlueRomance: #D2F6DE;
$colorBlueSmoke: #748881;
$colorBlueStone: #016162;
$colorBlueWhale: #042E4C;
$colorBlueZodiac: #13264D;
$colorBlumine: #18587A;
$colorBlush: #B44668;
$colorBokaraGrey: #1C1208;
$colorBombay: #AFB1B8;
$colorBondiBlue: #02478E;
$colorBone: #E4D1C0;
$colorBonJour: #E5E0E1;
$colorBordeaux: #5C0120;
$colorBossanova: #4E2A5A;
$colorBostonBlue: #3B91B4;
$colorBotticelli: #C7DDE5;
$colorBottleGreen: #093624;
$colorBoulder: #7A7A7A;
$colorBouquet: #AE809E;
$colorBourbon: #BA6F1E;
$colorBracken: #4A2A04;
$colorBrandy: #DEC196;
$colorBrandyPunch: #CD8429;
$colorBrandyRose: #BB8983;
$colorBrazil: #886221;
$colorBreakerBay: #5DA19F;
$colorBridalHeath: #FFFAF4;
$colorBridesmaid: #FEF0EC;
$colorBrightGrey: #3C4151;
$colorBrightRed: #B10000;
$colorBrightSun: #FED33C;
$colorBronco: #ABA196;
$colorBronze: #3F2109;
$colorBronzeOlive: #4E420C;
$colorBronzetone: #4D400F;
$colorBroom: #FFEC13;
$colorBrownBramble: #592804;
$colorBrownDerby: #492615;
$colorBrownPod: #401801;
$colorBubbles: #E7FEFF;
$colorBuccaneer: #622F30;
$colorBud: #A8AE9C;
$colorBuddhaGold: #C1A004;
$colorBulgarianRose: #480607;
$colorBullShot: #864D1E;
$colorBunker: #0D1117;
$colorBunting: #151F4C;
$colorBurgundy: #770F05;
$colorBurnham: #002E20;
$colorBurningSand: #D99376;
$colorBurntCrimson: #65000B;
$colorBush: #0D2E1C;
$colorButtercup: #F3AD16;
$colorButteredRum: #A1750D;
$colorButterflyBush: #624E9A;
$colorButtermilk: #FFF1B5;
$colorButteryWhite: #FFFCEA;
$colorCabaret: #D94972;
$colorCabbagePont: #3F4C3A;
$colorCabSav: #4D0A18;
$colorCactus: #587156;
$colorCadillac: #B04C6A;
$colorCafeRoyale: #6F440C;
$colorCalico: #E0C095;
$colorCalifornia: #FE9D04;
$colorCalypso: #31728D;
$colorCamarone: #00581A;
$colorCamelot: #893456;
$colorCameo: #D9B99B;
$colorCamouflage: #3C3910;
$colorCanary: #F3FB62;
$colorCanCan: #D591A4;
$colorCandlelight: #FCD917;
$colorCannonBlack: #251706;
$colorCannonPink: #894367;
$colorCanvas: #A8A589;
$colorCapeCod: #3C4443;
$colorCapeHoney: #FEE5AC;
$colorCapePalliser: #A26645;
$colorCaper: #DCEDB4;
$colorCapri: #062A78;
$colorCaramel: #FFDDAF;
$colorCararra: #EEEEE8;
$colorCardinal: #8C055E;
$colorCardinGreen: #01361C;
$colorCareysPink: #D29EAA;
$colorCarissma: #EA88A8;
$colorCarla: #F3FFD8;
$colorCarnabyTan: #5C2E01;
$colorCarouselPink: #F9E0ED;
$colorCasablanca: #F8B853;
$colorCasal: #2F6168;
$colorCascade: #8BA9A5;
$colorCashmere: #E6BEA5;
$colorCasper: #ADBED1;
$colorCastro: #52001F;
$colorCatalinaBlue: #062A78;
$colorCatskillWhite: #EEF6F7;
$colorCavernPink: #E3BEBE;
$colorCedar: #3E1C14;
$colorCedarWoodFinish: #711A00;
$colorCelery: #B8C25D;
$colorCeleste: #D1D2CA;
$colorCello: #1E385B;
$colorCeltic: #163222;
$colorCement: #8D7662;
$colorCeramic: #FCFFF9;
$colorCeSoir: #9771B5;
$colorChablis: #FFF4F3;
$colorChaletGreen: #516E3D;
$colorChalky: #EED794;
$colorChambray: #354E8C;
$colorChamois: #EDDCB1;
$colorChampagne: #FAECCC;
$colorChantilly: #F8C3DF;
$colorCharade: #292937;
$colorChardon: #FFF3F1;
$colorChardonnay: #FFCD8C;
$colorCharlotte: #BAEEF9;
$colorCharm: #D47494;
$colorChateauGreen: #40A860;
$colorChatelle: #BDB3C7;
$colorChathamsBlue: #175579;
$colorChelseaCucumber: #83AA5D;
$colorChelseaGem: #9E5302;
$colorChenin: #DFCD6F;
$colorCherokee: #FCDA98;
$colorCherryPie: #2A0359;
$colorCherrywood: #651A14;
$colorCherub: #F8D9E9;
$colorChetwodeBlue: #8581D9;
$colorChicago: #5D5C58;
$colorChiffon: #F1FFC8;
$colorChileanFire: #F77703;
$colorChileanHeath: #FFFDE6;
$colorChinaIvory: #FCFFE7;
$colorChino: #CEC7A7;
$colorChinook: #A8E3BD;
$colorChocolate: #370202;
$colorChristalle: #33036B;
$colorChristi: #67A712;
$colorChristine: #E7730A;
$colorChromeWhite: #E8F1D4;
$colorCigar: #773F1A;
$colorCinder: #0E0E18;
$colorCinderella: #FDE1DC;
$colorCinnamon: #7B3F00;
$colorCioccolato: #55280C;
$colorCitrineWhite: #FAF7D6;
$colorCitron: #9EA91F;
$colorCitrus: #A1C50A;
$colorClairvoyant: #480656;
$colorClamShell: #D4B6AF;
$colorClaret: #7F1734;
$colorClassicRose: #FBCCE7;
$colorClayCreek: #8A8360;
$colorClearDay: #E9FFFD;
$colorClementine: #E96E00;
$colorClinker: #371D09;
$colorCloud: #C7C4BF;
$colorCloudBurst: #202E54;
$colorCloudy: #ACA59F;
$colorClover: #384910;
$colorCobalt: #062A78;
$colorCocoaBean: #481C1C;
$colorCocoaBrown: #301F1E;
$colorCoconutCream: #F8F7DC;
$colorCodGrey: #0B0B0B;
$colorCoffee: #706555;
$colorCoffeeBean: #2A140E;
$colorCognac: #9F381D;
$colorCola: #3F2500;
$colorColdPurple: #ABA0D9;
$colorColdTurkey: #CEBABA;
$colorColonialWhite: #FFEDBC;
$colorComet: #5C5D75;
$colorComo: #517C66;
$colorConch: #C9D9D2;
$colorConcord: #7C7B7A;
$colorConcrete: #F2F2F2;
$colorConfetti: #E9D75A;
$colorCongoBrown: #593737;
$colorConifer: #ACDD4D;
$colorContessa: #C6726B;
$colorCopperCanyon: #7E3A15;
$colorCopperRust: #944747;
$colorCoral: #C7BCA2;
$colorCoralCandy: #FFDCD6;
$colorCoralTree: #A86B6B;
$colorCorduroy: #606E68;
$colorCoriander: #C4D0B0;
$colorCork: #40291D;
$colorCorn: #E7BF05;
$colorCornField: #F8FACD;
$colorCornflower: #FFB0AC;
$colorCornHarvest: #8B6B0B;
$colorCorvette: #FAD3A2;
$colorCosmic: #76395D;
$colorCosmos: #FFD8D9;
$colorCostaDelSol: #615D30;
$colorCottonSeed: #C2BDB6;
$colorCountyGreen: #01371A;
$colorCoveGrey: #051657;
$colorCowboy: #4D282D;
$colorCrabApple: #A02712;
$colorCrail: #B95140;
$colorCranberry: #B6316C;
$colorCraterBrown: #462425;
$colorCreamBrulee: #FFE5A0;
$colorCreamCan: #F5C85C;
$colorCremeDeBanane: #FFFC99;
$colorCreole: #1E0F04;
$colorCrete: #737829;
$colorCrocodile: #736D58;
$colorCrownofThorns: #771F1F;
$colorCrowshead: #1C1208;
$colorCruise: #B5ECDF;
$colorCrusoe: #004816;
$colorCrusta: #FD7B33;
$colorCubanTan: #2A140E;
$colorCumin: #924321;
$colorCumulus: #FDFFD5;
$colorCupid: #FBBEDA;
$colorCuriousBlue: #2596D1;
$colorCuttySark: #507672;
$colorCyprus: #003E40;
$colorDaintree: #012731;
$colorDairyCream: #F9E4BC;
$colorDaisyBush: #4F2398;
$colorDallas: #6E4B26;
$colorDanube: #6093D1;
$colorDarkEbony: #3C2005;
$colorDarkOak: #612718;
$colorDarkRimu: #5F3D26;
$colorDarkRum: #412010;
$colorDarkSlate: #394851;
$colorDarkTan: #661010;
$colorDawn: #A6A29A;
$colorDawnPink: #F3E9E5;
$colorDeco: #D2DA97;
$colorDeepBlush: #E47698;
$colorDeepBronze: #4A3004;
$colorDeepCove: #051040;
$colorDeepFir: #002900;
$colorDeepKoamaru: #1B127B;
$colorDeepOak: #412010;
$colorDeepSea: #01826B;
$colorDeepTeal: #003532;
$colorDell: #396413;
$colorDelRio: #B09A95;
$colorDelta: #A4A49D;
$colorDeluge: #7563A8;
$colorDerby: #FFEED8;
$colorDesert: #AE6020;
$colorDesertStorm: #F8F8F7;
$colorDew: #EAFFFE;
$colorDeYork: #7AC488;
$colorDiesel: #130000;
$colorDingley: #5D7747;
$colorDisco: #871550;
$colorDiSerria: #DB995E;
$colorDixie: #E29418;
$colorDolly: #F9FF8B;
$colorDolphin: #646077;
$colorDomino: #8E775E;
$colorDonJuan: #5D4C51;
$colorDonkeyBrown: #A69279;
$colorDorado: #6B5755;
$colorDoubleColonialWhite: #EEE3AD;
$colorDoublePearlLusta: #FCF4D0;
$colorDoubleSpanishWhite: #E6D7B9;
$colorDoveGrey: #6D6C6C;
$colorDownriver: #092256;
$colorDowny: #6FD0C5;
$colorDriftwood: #AF8751;
$colorDrover: #FDF7AD;
$colorDune: #383533;
$colorDustStorm: #E5CCC9;
$colorDustyGrey: #A8989B;
$colorDutchWhite: #FFF8D1;
$colorEagle: #B6BAA4;
$colorEarlsGreen: #C9B93B;
$colorEarlyDawn: #FFF9E6;
$colorEastBay: #414C7D;
$colorEasternBlue: #1E9AB0;
$colorEastSide: #AC91CE;
$colorEbb: #E9E3E3;
$colorEbony: #0C0B1D;
$colorEbonyClay: #26283B;
$colorEchoBlue: #AFBDD9;
$colorEclipse: #311C17;
$colorEcruWhite: #F5F3E5;
$colorEcstasy: #FA7814;
$colorEden: #105852;
$colorEdgewater: #C8E3D7;
$colorEdward: #A2AEAB;
$colorEggSour: #FFF4DD;
$colorEggWhite: #FFEFC1;
$colorElephant: #123447;
$colorElfGreen: #088370;
$colorElm: #1C7C7D;
$colorElPaso: #1E1708;
$colorElSalva: #8F3E33;
$colorEmbers: #A02712;
$colorEminence: #6C3082;
$colorEmperor: #514649;
$colorEmpress: #817377;
$colorEndeavour: #0056A7;
$colorEnergyYellow: #F8DD5C;
$colorEnglishHolly: #022D15;
$colorEnglishWalnut: #3E2B23;
$colorEnvy: #8BA690;
$colorEquator: #E1BC64;
$colorEspresso: #612718;
$colorEternity: #211A0E;
$colorEucalyptus: #278A5B;
$colorEunry: #CFA39D;
$colorEveningSea: #024E46;
$colorEverglade: #1C402E;
$colorFairPink: #FFEFEC;
$colorFalcon: #7F626D;
$colorFantasy: #FAF3F0;
$colorFedora: #796A78;
$colorFeijoa: #9FDD8C;
$colorFern: #0A480D;
$colorFernFrond: #657220;
$colorFerra: #704F50;
$colorFestival: #FBE96C;
$colorFeta: #F0FCEA;
$colorFieryOrange: #B35213;
$colorFijiGreen: #657220;
$colorFinch: #626649;
$colorFinlandia: #556D56;
$colorFinn: #692D54;
$colorFiord: #405169;
$colorFire: #AA4203;
$colorFireBush: #E89928;
$colorFirefly: #0E2A30;
$colorFlamenco: #FF7D07;
$colorFlamePea: #DA5B38;
$colorFlameRed: #C7031E;
$colorFlamingo: #F2552A;
$colorFlax: #7B8265;
$colorFlint: #6F6A61;
$colorFlirt: #A2006D;
$colorFoam: #D8FCFA;
$colorFog: #D7D0FF;
$colorFoggyGrey: #CBCAB6;
$colorForestGreen: #182D09;
$colorForgetMeNot: #FFF1EE;
$colorFountainBlue: #56B4BE;
$colorFrangipani: #FFDEB3;
$colorFrenchGrey: #BDBDC6;
$colorFrenchLilac: #ECC7EE;
$colorFrenchPass: #BDEDFD;
$colorFriarGrey: #807E79;
$colorFringyFlower: #B1E2C1;
$colorFroly: #F57584;
$colorFrost: #EDF5DD;
$colorFrostedMint: #DBFFF8;
$colorFrostee: #E4F6E7;
$colorFruitSalad: #4F9D5D;
$colorFuchsia: #7A58C1;
$colorFuego: #BEDE0D;
$colorFuelYellow: #ECA927;
$colorFunBlue: #1959A8;
$colorFunGreen: #016D39;
$colorFuscousGrey: #54534D;
$colorGableGreen: #163531;
$colorGallery: #EFEFEF;
$colorGalliano: #DCB20C;
$colorGeebung: #D18F1B;
$colorGenoa: #15736B;
$colorGeraldine: #FB8989;
$colorGeyser: #D4DFE2;
$colorGhost: #C7C9D5;
$colorGigas: #523C94;
$colorGimblet: #B8B56A;
$colorGin: #E8F2EB;
$colorGinFizz: #FFF9E2;
$colorGivry: #F8E4BF;
$colorGlacier: #80B3C4;
$colorGladeGreen: #61845F;
$colorGoBen: #726D4E;
$colorGoblin: #3D7D52;
$colorGoldDrop: #F18200;
$colorGoldenBell: #E28913;
$colorGoldenDream: #F0D52D;
$colorGoldenFizz: #F5FB3D;
$colorGoldenGlow: #FDE295;
$colorGoldenSand: #F0DB7D;
$colorGoldenTainoi: #FFCC5C;
$colorGoldTips: #DEBA13;
$colorGondola: #261414;
$colorGordonsGreen: #0B1107;
$colorGorse: #FFF14F;
$colorGossamer: #069B81;
$colorGossip: #D2F8B0;
$colorGothic: #6D92A1;
$colorGovernorBay: #2F3CB3;
$colorGrainBrown: #E4D5B7;
$colorGrandis: #FFD38C;
$colorGraniteGreen: #8D8974;
$colorGrannyApple: #D5F6E3;
$colorGrannySmith: #84A0A0;
$colorGrape: #381A51;
$colorGraphite: #251607;
$colorGrassHopper: #7C7631;
$colorGravel: #4A444B;
$colorGreenHouse: #24500F;
$colorGreenKelp: #25311C;
$colorGreenLeaf: #436A0D;
$colorGreenMist: #CBD3B0;
$colorGreenPea: #1D6142;
$colorGreenSmoke: #A4AF6E;
$colorGreenSpring: #B8C1B1;
$colorGreenstone: #003E40;
$colorGreenVogue: #032B52;
$colorGreenWaterloo: #101405;
$colorGreenWhite: #E8EBE0;
$colorGrenadier: #D54600;
$colorGreyChateau: #A2AAB3;
$colorGreyGreen: #454936;
$colorGreyNickel: #C3C3BD;
$colorGreyNurse: #E7ECE6;
$colorGreyOlive: #A9A491;
$colorGreySuit: #C1BECD;
$colorGuardsmanRed: #BA0101;
$colorGulfBlue: #051657;
$colorGulfStream: #80B3AE;
$colorGullGrey: #9DACB7;
$colorGumbo: #7CA1A6;
$colorGumLeaf: #B6D3BF;
$colorGunmetal: #020D15;
$colorGunPowder: #414257;
$colorGunsmoke: #828685;
$colorGurkha: #9A9577;
$colorHacienda: #98811B;
$colorHairyHeath: #6B2A14;
$colorHaiti: #1B1035;
$colorHalfandHalf: #FFFEE1;
$colorHalfBaked: #85C4CC;
$colorHalfColonialWhite: #FDF6D3;
$colorHalfDutchWhite: #FEF7DE;
$colorHalfPearlLusta: #FFFCEA;
$colorHalfSpanishWhite: #FEF4DB;
$colorHampton: #E5D8AF;
$colorHarp: #E6F2EA;
$colorHarvestGold: #E0B974;
$colorHavana: #341515;
$colorHavelockBlue: #5590D9;
$colorHawaiianTan: #9D5616;
$colorHawkesBlue: #D4E2FC;
$colorHeath: #541012;
$colorHeather: #B7C3D0;
$colorHeatheredGrey: #B6B095;
$colorHeavyMetal: #2B3228;
$colorHemlock: #5E5D3B;
$colorHemp: #907874;
$colorHibiscus: #B6316C;
$colorHighball: #908D39;
$colorHighland: #6F8E63;
$colorHillary: #ACA586;
$colorHimalaya: #6A5D1B;
$colorHintofGreen: #E6FFE9;
$colorHintofGrey: #FCFFF9;
$colorHintofRed: #F9F9F9;
$colorHintofYellow: #FAFDE4;
$colorHippieBlue: #589AAF;
$colorHippieGreen: #53824B;
$colorHippiePink: #AE4560;
$colorHitGrey: #A1ADB5;
$colorHitPink: #FFAB81;
$colorHokeyPokey: #C8A528;
$colorHoki: #65869F;
$colorHolly: #011D13;
$colorHoneyFlower: #4F1C70;
$colorHoneysuckle: #EDFC84;
$colorHopbush: #D06DA1;
$colorHorizon: #5A87A0;
$colorHorsesNeck: #604913;
$colorHotChile: #8B0723;
$colorHotCurry: #886221;
$colorHotPurple: #480656;
$colorHotToddy: #B38007;
$colorHummingBird: #CFF9F3;
$colorHunterGreen: #161D10;
$colorHurricane: #877C7B;
$colorHusk: #B7A458;
$colorIceberg: #DAF4F0;
$colorIceCold: #B1F4E7;
$colorIllusion: #F6A4C9;
$colorIndianTan: #4D1E01;
$colorIndochine: #C26B03;
$colorIrishCoffee: #5F3D26;
$colorIroko: #433120;
$colorIron: #D4D7D9;
$colorIronbark: #411F10;
$colorIronsideGrey: #676662;
$colorIronstone: #86483C;
$colorIslandSpice: #FFFCEE;
$colorJacaranda: #2E0329;
$colorJacarta: #3A2A6A;
$colorJackoBean: #2E1905;
$colorJacksonsPurple: #20208D;
$colorJade: #427977;
$colorJaffa: #EF863F;
$colorJaggedIce: #C2E8E5;
$colorJagger: #350E57;
$colorJaguar: #080110;
$colorJambalaya: #5B3013;
$colorJanna: #F4EBD3;
$colorJapaneseLaurel: #0A6906;
$colorJapaneseMaple: #780109;
$colorJaponica: #D87C63;
$colorJarrah: #341515;
$colorJava: #1FC2C2;
$colorJazz: #780109;
$colorJellyBean: #297B9A;
$colorJetStream: #B5D2CE;
$colorJewel: #126B40;
$colorJoanna: #F5F3E5;
$colorJon: #3B1F1F;
$colorJonquil: #EEFF9A;
$colorJordyBlue: #8AB9F1;
$colorJudgeGrey: #544333;
$colorJumbo: #7C7B82;
$colorJungleGreen: #281E15;
$colorJungleMist: #B4CFD3;
$colorJuniper: #6D9292;
$colorJustRight: #ECCDB9;
$colorKabul: #5E483E;
$colorKaitokeGreen: #004620;
$colorKangaroo: #C6C8BD;
$colorKaraka: #1E1609;
$colorKarry: #FFEAD4;
$colorKashmirBlue: #507096;
$colorKelp: #454936;
$colorKenyanCopper: #7C1C05;
$colorKeppel: #3AB09E;
$colorKidnapper: #E1EAD4;
$colorKilamanjaro: #240C02;
$colorKillarney: #3A6A47;
$colorKimberly: #736C9F;
$colorKingfisherDaisy: #3E0480;
$colorKobi: #E79FC4;
$colorKokoda: #6E6D57;
$colorKorma: #8F4B0E;
$colorKoromiko: #FFBD5F;
$colorKournikova: #FFE772;
$colorKumera: #886221;
$colorLaPalma: #368716;
$colorLaRioja: #B3C110;
$colorLaser: #C8B568;
$colorLasPalmas: #C6E610;
$colorLaurel: #749378;
$colorLavender: #A899E6;
$colorLeather: #967059;
$colorLemon: #F4D81C;
$colorLemonGinger: #AC9E22;
$colorLemonGrass: #9B9E8F;
$colorLicorice: #092256;
$colorLightningYellow: #FCC01E;
$colorLilacBush: #9874D3;
$colorLily: #C8AABF;
$colorLilyWhite: #E7F8FF;
$colorLima: #76BD17;
$colorLime: #BFC921;
$colorLimeade: #6F9D02;
$colorLimedAsh: #747D63;
$colorLimedGum: #423921;
$colorLimedOak: #AC8A56;
$colorLimedSpruce: #394851;
$colorLimerick: #9DC209;
$colorLinen: #E6E4D4;
$colorLinkWater: #D9E4F5;
$colorLipstick: #AB0563;
$colorLisbonBrown: #423921;
$colorLividBrown: #4D282E;
$colorLoafer: #EEF4DE;
$colorLoblolly: #BDC9CE;
$colorLochinvar: #2C8C84;
$colorLochmara: #007EC7;
$colorLocust: #A8AF8E;
$colorLogan: #AAA9CD;
$colorLogCabin: #242A1D;
$colorLola: #DFCFDB;
$colorLondonHue: #BEA6C3;
$colorLonestar: #6D0101;
$colorLotus: #863C3C;
$colorLoulou: #460B41;
$colorLucky: #AF9F1C;
$colorLuckyPoint: #1A1A68;
$colorLunarGreen: #3C493A;
$colorLusty: #991B07;
$colorLuxorGold: #A7882C;
$colorLynch: #697E9A;
$colorMabel: #D9F7FF;
$colorMadang: #B7F0BE;
$colorMadison: #09255D;
$colorMadras: #3F3002;
$colorMagnolia: #F8F4FF;
$colorMahogany: #4E0606;
$colorMaire: #130A06;
$colorMaiTai: #B06608;
$colorMaize: #F5D5A0;
$colorMakara: #897D6D;
$colorMako: #444954;
$colorMalachiteGreen: #888D65;
$colorMalibu: #7DC8F7;
$colorMallard: #233418;
$colorMalta: #BDB2A1;
$colorMamba: #8E8190;
$colorMandalay: #AD781B;
$colorMandy: #E25465;
$colorMandysPink: #F2C3B2;
$colorManhattan: #F5C999;
$colorMantis: #74C365;
$colorMantle: #8B9C90;
$colorManz: #EEEF78;
$colorMardiGras: #350036;
$colorMarigold: #B98D28;
$colorMariner: #286ACD;
$colorMarlin: #2A140E;
$colorMaroon: #420303;
$colorMarshland: #0B0F08;
$colorMartini: #AFA09E;
$colorMartinique: #363050;
$colorMarzipan: #F8DB9D;
$colorMasala: #403B38;
$colorMash: #40291D;
$colorMatisse: #1B659D;
$colorMatrix: #B05D54;
$colorMatterhorn: #4E3B41;
$colorMaverick: #D8C2D5;
$colorMcKenzie: #AF8751;
$colorMelanie: #E4C2D5;
$colorMelanzane: #300529;
$colorMelrose: #C7C1FF;
$colorMeranti: #5D1E0F;
$colorMercury: #E5E5E5;
$colorMerino: #F6F0E6;
$colorMerlin: #413C37;
$colorMerlot: #831923;
$colorMetallicBronze: #49371B;
$colorMetallicCopper: #71291D;
$colorMeteor: #D07D12;
$colorMeteorite: #3C1F76;
$colorMexicanRed: #A72525;
$colorMidGrey: #5F5F6E;
$colorMidnight: #011635;
$colorMidnightExpress: #000741;
$colorMidnightMoss: #041004;
$colorMikado: #2D2510;
$colorMilan: #FAFFA4;
$colorMilanoRed: #B81104;
$colorMilkPunch: #FFF6D4;
$colorMilkWhite: #F6F0E6;
$colorMillbrook: #594433;
$colorMimosa: #F8FDD3;
$colorMindaro: #E3F988;
$colorMineralGreen: #3F5D53;
$colorMineShaft: #323232;
$colorMing: #36747D;
$colorMinsk: #3F307F;
$colorMintJulep: #F1EEC1;
$colorMintTulip: #C4F4EB;
$colorMirage: #161928;
$colorMischka: #D1D2DD;
$colorMistGrey: #C4C4BC;
$colorMobster: #7F7589;
$colorMoccaccino: #6E1D14;
$colorMocha: #782D19;
$colorMojo: #C04737;
$colorMonaLisa: #FFA194;
$colorMonarch: #8B0723;
$colorMondo: #4A3C30;
$colorMongoose: #B5A27F;
$colorMonsoon: #8A8389;
$colorMontana: #291E30;
$colorMonteCarlo: #83D0C6;
$colorMonza: #C7031E;
$colorMoodyBlue: #7F76D3;
$colorMoonGlow: #FCFEDA;
$colorMoonMist: #DCDDCC;
$colorMoonRaker: #D6CEF6;
$colorMoonYellow: #FCD917;
$colorMorningGlory: #9EDEE0;
$colorMoroccoBrown: #441D00;
$colorMortar: #504351;
$colorMosaic: #123447;
$colorMosque: #036A6E;
$colorMountainMist: #959396;
$colorMuddyWaters: #B78E5C;
$colorMuesli: #AA8B5B;
$colorMulberry: #5C0536;
$colorMuleFawn: #8C472F;
$colorMulledWine: #4E4562;
$colorMustard: #74640D;
$colorMyPink: #D69188;
$colorMySin: #FFB31F;
$colorMystic: #E2EBED;
$colorNandor: #4B5D52;
$colorNapa: #ACA494;
$colorNarvik: #EDF9F1;
$colorNatural: #86560A;
$colorNebula: #CBDBD6;
$colorNegroni: #FFE2C5;
$colorNepal: #8EABC1;
$colorNeptune: #7CB7BB;
$colorNero: #140600;
$colorNeutralGreen: #ACA586;
$colorNevada: #646E75;
$colorNewAmber: #7B3801;
$colorNewOrleans: #F3D69D;
$colorNewYorkPink: #D7837F;
$colorNiagara: #06A189;
$colorNightclub: #660045;
$colorNightRider: #1F120F;
$colorNightShadz: #AA375A;
$colorNileBlue: #193751;
$colorNobel: #B7B1B1;
$colorNomad: #BAB1A2;
$colorNordic: #012731;
$colorNorway: #A8BD9F;
$colorNugget: #C59922;
$colorNutmeg: #81422C;
$colorNutmegWoodFinish: #683600;
$colorOasis: #FEEFCE;
$colorObservatory: #02866F;
$colorOceanGreen: #41AA78;
$colorOffGreen: #E6F8F3;
$colorOffYellow: #FEF9E3;
$colorOil: #281E15;
$colorOiledCedar: #7C1C05;
$colorOldBrick: #901E1E;
$colorOldCopper: #724A2F;
$colorOliveGreen: #242E16;
$colorOliveHaze: #8B8470;
$colorOlivetone: #716E10;
$colorOnahau: #CDF4FF;
$colorOnion: #2F270E;
$colorOpal: #A9C6C2;
$colorOpium: #8E6F70;
$colorOracle: #377475;
$colorOrangeRoughy: #C45719;
$colorOrangeWhite: #FEFCED;
$colorOrchidWhite: #FFFDF3;
$colorOregon: #9B4703;
$colorOrient: #015E85;
$colorOrientalPink: #C69191;
$colorOrinoco: #F3FBD4;
$colorOsloGrey: #878D91;
$colorOttoman: #E9F8ED;
$colorOuterSpace: #051040;
$colorOxfordBlue: #384555;
$colorOxley: #779E86;
$colorOysterBay: #DAFAFF;
$colorOysterPink: #E9CECD;
$colorPaarl: #A65529;
$colorPablo: #776F61;
$colorPacifika: #778120;
$colorPaco: #411F10;
$colorPadua: #ADE6C4;
$colorPaleLeaf: #C0D3B9;
$colorPaleOyster: #988D77;
$colorPalePrim: #FDFEB8;
$colorPaleRose: #FFE1F2;
$colorPaleSky: #6E7783;
$colorPaleSlate: #C3BFC1;
$colorPalmGreen: #09230F;
$colorPalmLeaf: #19330E;
$colorPampas: #F4F2EE;
$colorPanache: #EAF6EE;
$colorPancho: #EDCDAB;
$colorPanda: #423921;
$colorPaprika: #8D0226;
$colorParadiso: #317D82;
$colorParchment: #F1E9D2;
$colorParisDaisy: #FFF46E;
$colorParisM: #26056A;
$colorParisWhite: #CADCD4;
$colorParsley: #134F19;
$colorPatina: #639A8F;
$colorPattensBlue: #DEF5FF;
$colorPaua: #260368;
$colorPavlova: #D7C498;
$colorPeach: #FFF0DB;
$colorPeachSchnapps: #FFDCD6;
$colorPeanut: #782F16;
$colorPearlBush: #E8E0D5;
$colorPearlLusta: #FCF4DC;
$colorPeaSoup: #CFE5D2;
$colorPeat: #716B56;
$colorPelorous: #3EABBF;
$colorPeppermint: #E3F5E1;
$colorPerano: #A9BEF2;
$colorPerfume: #D0BEF8;
$colorPeriglacialBlue: #E1E6D6;
$colorPersianPlum: #701C1C;
$colorPersianRed: #520C17;
$colorPersimmon: #FF6B53;
$colorPeruTan: #7F3A02;
$colorPesto: #7C7631;
$colorPetiteOrchid: #DB9690;
$colorPewter: #96A8A1;
$colorPharlap: #A3807B;
$colorPicasso: #FFF39D;
$colorPickledAspen: #3F4C3A;
$colorPickledBean: #6E4826;
$colorPickledBluewood: #314459;
$colorPictonBlue: #45B1E8;
$colorPigeonPost: #AFBDD9;
$colorPineCone: #6D5E54;
$colorPineGlade: #C7CD90;
$colorPineTree: #171F04;
$colorPinkFlare: #E1C0C8;
$colorPinkLace: #FFDDF4;
$colorPinkLady: #FFF1D8;
$colorPinkSwan: #BEB5B7;
$colorPiper: #C96323;
$colorPipi: #FEF4CC;
$colorPippin: #FFE1DF;
$colorPirateGold: #BA7F03;
$colorPistachio: #9DC209;
$colorPixieGreen: #C0D8B6;
$colorPizazz: #FF9000;
$colorPizza: #C99415;
$colorPlantation: #27504B;
$colorPlanter: #615D30;
$colorPlum: #410056;
$colorPohutukawa: #8F021C;
$colorPolar: #E5F9F6;
$colorPoloBlue: #8DA8CC;
$colorPompadour: #660045;
$colorPorcelain: #EFF2F3;
$colorPorsche: #EAAE69;
$colorPortafino: #FFFFB4;
$colorPortage: #8B9FEE;
$colorPortGore: #251F4F;
$colorPortica: #F9E663;
$colorPotPourri: #F5E7E2;
$colorPottersClay: #8C5738;
$colorPowderBlue: #BCC9C2;
$colorPrairieSand: #9A3820;
$colorPrelude: #D0C0E5;
$colorPrim: #F0E2EC;
$colorPrimrose: #EDEA99;
$colorPromenade: #FCFFE7;
$colorProvincialPink: #FEF5F1;
$colorPrussianBlue: #003153;
$colorPueblo: #7D2C14;
$colorPuertoRico: #3FC1AA;
$colorPumice: #C2CAC4;
$colorPumpkin: #B1610B;
$colorPunch: #DC4333;
$colorPunga: #4D3D14;
$colorPutty: #E7CD8C;
$colorQuarterPearlLusta: #FFFDF4;
$colorQuarterSpanishWhite: #F7F2E1;
$colorQuicksand: #BD978E;
$colorQuillGrey: #D6D6D1;
$colorQuincy: #623F2D;
$colorRacingGreen: #0C1911;
$colorRaffia: #EADAB8;
$colorRaincloud: #7B7C94;
$colorRainee: #B9C8AC;
$colorRainForest: #778120;
$colorRajah: #F7B668;
$colorRangitoto: #2E3222;
$colorRangoonGreen: #1C1E13;
$colorRaven: #727B89;
$colorRebel: #3C1206;
$colorRedBeech: #7B3801;
$colorRedBerry: #8E0000;
$colorRedDamask: #DA6A41;
$colorRedDevil: #860111;
$colorRedOxide: #6E0902;
$colorRedRobin: #80341F;
$colorRedStage: #D05F04;
$colorRedwood: #5D1E0F;
$colorReef: #C9FFA2;
$colorReefGold: #9F821C;
$colorRegalBlue: #013F6A;
$colorRegentGrey: #86949F;
$colorRegentStBlue: #AAD6E6;
$colorRemy: #FEEBF3;
$colorRenoSand: #A86515;
$colorResolutionBlue: #002387;
$colorRevolver: #2C1632;
$colorRhino: #2E3F62;
$colorRibbon: #660045;
$colorRiceCake: #FFFEF0;
$colorRiceFlower: #EEFFE2;
$colorRichGold: #A85307;
$colorRioGrande: #BBD009;
$colorRiptide: #8BE6D8;
$colorRiverBed: #434C59;
$colorRobinsEggBlue: #BDC8B3;
$colorRobRoy: #EAC674;
$colorRock: #4D3833;
$colorRockBlue: #9EB1CD;
$colorRockSalt: #FFFFFF;
$colorRockSpray: #BA450C;
$colorRodeoDust: #C9B29B;
$colorRollingStone: #747D83;
$colorRoman: #DE6360;
$colorRomance: #FFFEFD;
$colorRomanCoffee: #795D4C;
$colorRomantic: #FFD2B7;
$colorRonchi: #ECC54E;
$colorRoofTerracotta: #A62F20;
$colorRope: #8E4D1E;
$colorRose: #E7BCB4;
$colorRoseBud: #FBB2A3;
$colorRoseBudCherry: #800B47;
$colorRoseofSharon: #BF5500;
$colorRoseWhite: #FFF6F5;
$colorRosewood: #65000B;
$colorRoti: #C6A84B;
$colorRouge: #A23B6C;
$colorRoyalHeath: #AB3472;
$colorRum: #796989;
$colorRumSwizzle: #F9F8E4;
$colorRussett: #755A57;
$colorRusticRed: #480404;
$colorRustyNail: #86560A;
$colorSaddle: #4C3024;
$colorSaddleBrown: #583401;
$colorSaffron: #F9BF58;
$colorSage: #9EA587;
$colorSahara: #B7A214;
$colorSail: #B8E0F9;
$colorSalem: #097F4B;
$colorSalomie: #FEDB8D;
$colorSaltBox: #685E6E;
$colorSaltpan: #F1F7F2;
$colorSambuca: #3A2010;
$colorSandal: #AA8D6F;
$colorSandDune: #826F65;
$colorSandrift: #AB917A;
$colorSandstone: #796D62;
$colorSandwisp: #F5E7A2;
$colorSandyBeach: #FFEAC8;
$colorSanFelix: #0B6207;
$colorSangria: #92000A;
$colorSanguineBrown: #8D3D38;
$colorSanJuan: #304B6A;
$colorSanMarino: #456CAC;
$colorSantaFe: #B16D52;
$colorSantasGrey: #9FA0B1;
$colorSapling: #DED4A4;
$colorSapphire: #2F519E;
$colorSaratoga: #555B10;
$colorSauvignon: #FFF5F3;
$colorSazerac: #FFF4E0;
$colorScampi: #675FA6;
$colorScandal: #CFFAF4;
$colorScarletGum: #431560;
$colorScarlett: #950015;
$colorScarpaFlow: #585562;
$colorSchist: #A9B497;
$colorSchooner: #8B847E;
$colorScooter: #2EBFD4;
$colorScorpion: #695F62;
$colorScotchMist: #FFFBDC;
$colorScrub: #2E3222;
$colorSeaBuckthorn: #FBA129;
$colorSeaFog: #FCFFF9;
$colorSeaGreen: #095859;
$colorSeagull: #80CCEA;
$colorSeaMist: #C5DBCA;
$colorSeance: #731E8F;
$colorSeaNymph: #78A39C;
$colorSeaPink: #ED989E;
$colorSeashell: #F1F1F1;
$colorSeaweed: #1B2F11;
$colorSelago: #F0EEFD;
$colorSepia: #2B0202;
$colorSerenade: #FFF4E8;
$colorShadowGreen: #9AC2B8;
$colorShadyLady: #AAA5A9;
$colorShakespeare: #4EABD1;
$colorShalimar: #FBFFBA;
$colorShark: #25272C;
$colorSherpaBlue: #004950;
$colorSherwoodGreen: #02402C;
$colorShilo: #E8B9B3;
$colorShingleFawn: #6B4E31;
$colorShipCove: #788BBA;
$colorShipGrey: #3E3A44;
$colorShiraz: #B20931;
$colorShocking: #E292C0;
$colorShuttleGrey: #5F6672;
$colorSiam: #646A54;
$colorSidecar: #F3E7BB;
$colorSilk: #BDB1A8;
$colorSilverChalice: #ACACAC;
$colorSilverSand: #BFC1C2;
$colorSilverTree: #66B58F;
$colorSinbad: #9FD7D3;
$colorSiren: #7A013A;
$colorSirocco: #718080;
$colorSisal: #D3CBBA;
$colorSkeptic: #CAE6DA;
$colorSlugger: #412010;
$colorSmaltBlue: #51808F;
$colorSmokeTree: #DA6304;
$colorSmokeyAsh: #413C37;
$colorSmoky: #605B73;
$colorSnowDrift: #F7FAF7;
$colorSnowFlurry: #E4FFD1;
$colorSnowyMint: #D6FFDB;
$colorSnuff: #E2D8ED;
$colorSoapstone: #FFFBF9;
$colorSoftAmber: #D1C6B4;
$colorSoftPeach: #F5EDEF;
$colorSolidPink: #893843;
$colorSolitaire: #FEF8E2;
$colorSolitude: #EAF6FF;
$colorSorbus: #FD7C07;
$colorSorrellBrown: #CEB98F;
$colorSourDough: #D1BEA8;
$colorSoyaBean: #6A6051;
$colorSpaceShuttle: #433120;
$colorSpanishGreen: #819885;
$colorSpanishWhite: #F4EBD3;
$colorSpectra: #2F5A57;
$colorSpice: #6A442E;
$colorSpicyMix: #885342;
$colorSpicyPink: #816E71;
$colorSpindle: #B6D1EA;
$colorSplash: #FFEFC1;
$colorSpray: #79DEEC;
$colorSpringGreen: #578363;
$colorSpringRain: #ACCBB1;
$colorSpringSun: #F6FFDC;
$colorSpringWood: #F8F6F1;
$colorSprout: #C1D7B0;
$colorSpunPearl: #AAABB7;
$colorSquirrel: #8F8176;
$colorStack: #8A8F8A;
$colorStarDust: #9F9F9C;
$colorStarkWhite: #E5D7BD;
$colorStarship: #ECF245;
$colorSteelGrey: #262335;
$colorStiletto: #9C3336;
$colorStinger: #8B6B0B;
$colorStonewall: #928573;
$colorStormDust: #646463;
$colorStormGrey: #717486;
$colorStratos: #000741;
$colorStraw: #D4BF8D;
$colorStrikemaster: #956387;
$colorStromboli: #325D52;
$colorStTropaz: #2D569B;
$colorStudio: #714AB2;
$colorSubmarine: #BAC7C9;
$colorSugarCane: #F9FFF6;
$colorSulu: #C1F07C;
$colorSummerGreen: #96BBAB;
$colorSun: #FBAC13;
$colorSundance: #C9B35B;
$colorSundown: #FFB1B3;
$colorSunflower: #E4D422;
$colorSunglo: #E16865;
$colorSunset: #DC4333;
$colorSunshade: #FF9E2C;
$colorSupernova: #FFC901;
$colorSurf: #BBD7C1;
$colorSurfCrest: #CFE5D2;
$colorSurfieGreen: #0C7A79;
$colorSushi: #87AB39;
$colorSuvaGrey: #888387;
$colorSwamp: #001B1C;
$colorSwansDown: #DCF0EA;
$colorSweetCorn: #FBEA8C;
$colorSweetPink: #FD9FA2;
$colorSwirl: #D3CDC5;
$colorSwissCoffee: #DDD6D5;
$colorSycamore: #908D39;
$colorTabasco: #A02712;
$colorTacao: #EDB381;
$colorTacha: #D6C562;
$colorTahitiGold: #E97C07;
$colorTahunaSands: #EEF0C8;
$colorTallow: #A8A589;
$colorTallPoppy: #B32D29;
$colorTamarillo: #991613;
$colorTamarind: #341515;
$colorTana: #D9DCC1;
$colorTangaroa: #03163C;
$colorTangerine: #E96E00;
$colorTango: #ED7A1C;
$colorTapa: #7B7874;
$colorTapestry: #B05E81;
$colorTara: #E1F6E8;
$colorTarawera: #073A50;
$colorTasman: #CFDCCF;
$colorTaupeGrey: #B3AF95;
$colorTawnyPort: #692545;
$colorTaxBreak: #51808F;
$colorTea: #C1BAB0;
$colorTeak: #B19461;
$colorTeakWoodFinish: #6B2A14;
$colorTealBlue: #044259;
$colorTemptress: #3B000B;
$colorTePapaGreen: #1E433C;
$colorTequila: #FFE6C7;
$colorTexas: #F8F99C;
$colorTexasRose: #FFB555;
$colorThatch: #B69D98;
$colorThatchGreen: #403D19;
$colorThistle: #CCCAA8;
$colorThunder: #33292F;
$colorThunderbird: #C02B18;
$colorTiaMaria: #C1440E;
$colorTiara: #C3D1D1;
$colorTiber: #063537;
$colorTidal: #F1FFAD;
$colorTide: #BFB8B0;
$colorTimberGreen: #16322C;
$colorTitanWhite: #F0EEFF;
$colorToast: #9A6E61;
$colorTobaccoBrown: #715D47;
$colorTobago: #3E2B23;
$colorToledo: #3A0020;
$colorTolopea: #1B0245;
$colorTomThumb: #3F583B;
$colorTonysPink: #E79F8C;
$colorTopaz: #7C778A;
$colorToreaBay: #0F2D9E;
$colorToryBlue: #1450AA;
$colorTosca: #8D3F3F;
$colorTotemPole: #991B07;
$colorTouchWood: #373021;
$colorTowerGrey: #A9BDBF;
$colorTradewind: #5FB3AC;
$colorTranquil: #E6FFFF;
$colorTravertine: #FFFDE8;
$colorTreehouse: #3B2820;
$colorTreePoppy: #FC9C1D;
$colorTrendyGreen: #7C881A;
$colorTrendyPink: #8C6495;
$colorTrinidad: #E64E03;
$colorTropicalBlue: #C3DDF9;
$colorTrout: #4A4E5A;
$colorTrueV: #8A73D6;
$colorTuatara: #363534;
$colorTuftBush: #FFDDCD;
$colorTulipTree: #EAB33B;
$colorTumbleweed: #37290E;
$colorTuna: #353542;
$colorTundora: #4A4244;
$colorTurbo: #FAE600;
$colorTurkishRose: #B57281;
$colorTurmeric: #CABB48;
$colorTurtleGreen: #2A380B;
$colorTuscany: #BD5E2E;
$colorTusk: #EEF3C3;
$colorTussock: #C5994B;
$colorTutu: #FFF1F9;
$colorTwilight: #E4CFDE;
$colorTwilightBlue: #EEFDFF;
$colorTwine: #C2955D;
$colorValencia: #D84437;
$colorValentino: #350E42;
$colorValhalla: #2B194F;
$colorVanCleef: #49170C;
$colorVanilla: #D1BEA8;
$colorVanillaIce: #F3D9DF;
$colorVarden: #FFF6DF;
$colorVenetianRed: #72010F;
$colorVeniceBlue: #055989;
$colorVenus: #928590;
$colorVerdigris: #5D5E37;
$colorVerdunGreen: #495400;
$colorVesuvius: #B14A0B;
$colorVictoria: #534491;
$colorVidaLoca: #549019;
$colorViking: #64CCDB;
$colorVinRouge: #983D61;
$colorViola: #CB8FA9;
$colorViolentViolet: #290C5E;
$colorViolet: #240A40;
$colorViridianGreen: #678975;
$colorVistaBlue: #8FD6B4;
$colorVistaWhite: #FCF8F7;
$colorVisVis: #FFEFA1;
$colorVolcano: #651A14;
$colorVoodoo: #533455;
$colorVulcan: #10121D;
$colorWafer: #DECBC6;
$colorWaikawaGrey: #5A6E9C;
$colorWaiouru: #363C0D;
$colorWalnut: #773F1A;
$colorWanWhite: #FCFFF9;
$colorWasabi: #788A25;
$colorWatercourse: #056F57;
$colorWaterLeaf: #A1E9DE;
$colorWaterloo: #7B7C94;
$colorWattle: #DCD747;
$colorWatusi: #FFDDCF;
$colorWaxFlower: #FFC0A8;
$colorWedgewood: #4E7F9E;
$colorWellRead: #B43332;
$colorWePeep: #F7DBE6;
$colorWestar: #DCD9D2;
$colorWestCoast: #625119;
$colorWesternRed: #8B0723;
$colorWestSide: #FF910F;
$colorWewak: #F19BAB;
$colorWheatfield: #F3EDCF;
$colorWhiskey: #D59A6F;
$colorWhiskeySour: #DB995E;
$colorWhisper: #F7F5FA;
$colorWhiteIce: #DDF9F1;
$colorWhiteLilac: #F8F7FC;
$colorWhiteLinen: #F8F0E8;
$colorWhiteNectar: #FCFFE7;
$colorWhitePointer: #FEF8FF;
$colorWhiteRock: #EAE8D4;
$colorWildRice: #ECE090;
$colorWildSand: #F4F4F4;
$colorWildWillow: #B9C46A;
$colorWilliam: #3A686C;
$colorWillowBrook: #DFECDA;
$colorWillowGrove: #65745D;
$colorWindsor: #3C0878;
$colorWineBerry: #591D35;
$colorWinterHazel: #D5D195;
$colorWispPink: #FEF4F8;
$colorWisteria: #9771B5;
$colorWistful: #A4A6D3;
$colorWitchHaze: #FFFC99;
$colorWoodBark: #261105;
$colorWoodburn: #3C2005;
$colorWoodland: #4D5328;
$colorWoodrush: #302A0F;
$colorWoodsmoke: #0C0D0F;
$colorWoodyBay: #292130;
$colorWoodyBrown: #483131;
$colorXanadu: #738678;
$colorYellowMetal: #716338;
$colorYellowSea: #FEA904;
$colorYourPink: #FFC3C0;
$colorYukonGold: #7B6608;
$colorYuma: #CEC291;
$colorZambezi: #685558;
$colorZanah: #DAECD6;
$colorZest: #E5841B;
$colorZeus: #292319;
$colorZiggurat: #BFDBE2;
$colorZircon: #F4F8FF;
$colorZombie: #E4D69B;
$colorZorba: #A59B91;
$colorZuccini: #044022;
$colorZumthor: #EDF6FF;
$colorZydeco: #02402C;