// 16 html colors

$colorAqua: #00ffff;
$colorGray: #808080;
$colorNavy: #000080;
$colorSilver: #c0c0c0;
$colorBlack: #000000;
$colorGreen: #008000;
$colorOlive: #808000;
$colorTeal: #008080;
$colorBlue: #0000ff;
$colorLime: #00ff00;
$colorPurple: #808080;
$colorWhite: #ffffff;
$colorFuchsia: #ff00ff;
$colorMaroon: #800000;
$colorRed: #ff0000;
$colorYellow: #ffff00;

$colorTransparent: transparent;

// grey

$colorMineShaft: #333333;
$colorDustyGray: #999999;
$colorSilver: #cccccc;
$colorAlto: #dddddd;
$colorMercury: #e6e6e6;
$colorWhiteSand: #f5f5f5;

// my colors

$colorColdSherpaBlue: #003B46;
$colorColdJungleGreen: #2aa198;
$colorDarkSlateGrey: #2f4f4f;
$colorColdJellyBean: #2a7198;
$colorPirateGold: #BA7F03; // b58900
$colorColdSpice: #6a342d;
$colorSpicyMix: #8a544d;
$colorBlueTiber: #073642; // 05232b
$colorRiverBed: #434C59;
$colorFirefly: #0E2A30; // 103c39
$colorPastelGreen: #77DD77;
$colorRegentStBlue: #ADD8E6;
$colorColdGrannySmith: #839496;
$colorDantee: #002b36;
$colorOrangeRoughy: #cb4b16;
$colorAthsSpecial: #eee8d5;
$colorYukonGold: #826200;
$colorElm: #1f7972; // 1d706a
$colorColdCuriousBlue: #268bd2;
$colorMatisse: #1e6ea7; // 1d699e
$colorMaroonFlush: #c7254e;
$colorSoftPeach: #f9f2f4;
$colorLochinvar: #258d85;
$colorMariner: #227dbc;
$colorFieryOrange: #b44214;
$colorTowerGray: #a9bdbd;
$colorLightCornflowerBlue: #66afe9;
$colorRollingStone: #657b83;
$colorTiara: #c8d0d0;
$colorColdCuttySark: #586e75;
$colorOuterSpace: #212a2c;
$colorCola: #362800;
$colorCinnamon: #784000;
$colorSaddleBrown: #5e4700;
$colorGreenPea: #185c57;
$colorChathamsBlue: #124466;
$colorBlumine: #195a89;
$colorTabasco: #9d3a11;
$colorCioccolato: #58210a;
$colorPueblo: #7d2e0e;
$colorBlackPearl: #021014;