@mixin background-image($position, $left, $middle, $right) {
	-webkit-linear-gradient: ($position, $left, $middle, $right);
	-moz-linear-gradient: ($position, $left, $middle, $right);
	-ms-linear-gradient: ($position, $left, $middle, $right);
	-o-linear-gradient: ($position, $left, $middle, $right);
}

@mixin box-sizing($data) {
	-webkit-box-sizing: $data;
	-moz-box-sizing: $data;
	box-sizing: $data;
}