@import "colorSchema";
@import "mixins";

body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.active {
	margin-left: 2px;
}

.table {
	table-layout: fixed;
}

.table,
tbody > tr > th {
	text-align: center;
}

	.table > tbody > tr > th {
		padding: 8px 0;
	}

		.table > tbody > tr > th:first-child {
			padding-left: 8px;
		}

.actions {
	text-align: center;
}

.mainBlock {
	margin-bottom: 30px;
}

.btn-danger {
	background-color: $btnDangerBackground;
	border: 0;
}

	.btn-danger:hover {
		background-color: $btnDangerBackgroundHover;
	}

a .btn-danger {
	color: $btnDangerText;
}

.btn-default {
	background-color: $btnDefault;
	color: $btnDefaultText;
	border: 0;
}

.search-choice {
	white-space: nowrap;
	overflow: hidden;
}

hr {
	border-color: $hrBorderColor;
	border: 0;
	height: 1px;
	background: $hrBackgound;
	//background-image: -webkit-linear-gradient(left, #2f4f4f, #2a7198, #2f4f4f); /* hrLinearGradientLeft hrLinearGradientCenter hrLinearGradientRight */
	//background-image: -moz-linear-gradient(left, #2f4f4f, #2a7198, #2f4f4f); /* hrLinearGradientLeft hrLinearGradientCenter hrLinearGradientRight */
	//background-image: -ms-linear-gradient(left, #2f4f4f, #2a7198, #2f4f4f); /* hrLinearGradientLeft hrLinearGradientCenter hrLinearGradientRight */
	//background-image: -o-linear-gradient(left, #2f4f4f, #2a7198, #2f4f4f); /* hrLinearGradientLeft hrLinearGradientCenter hrLinearGradientRight */
	@include background-image(left, $hrLinearGradientLeft, $hrLinearGradientCenter, $hrLinearGradientRight);
}

.noOverflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.userInfo {
	margin-bottom: 2ex;
	margin-left: 12ex;
	color: $userInfoTextColor;
	min-height: 1.5ex;
}

.beware {
	color: $colorBeware !important;
	font-size: 2ex;
	text-align: center;
	text-decoration: underline;
}

.data-tooltip {
	cursor: help;
}

.fail {
	color: $colorFail;
}

.success {
	color: $colorSuccess;
}

.noFocus:focus {
	outline: none;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-item {
}

.flex-wrap {
	flex-wrap: wrap;
}

.wishedbook:after {
	font-family: 'Glyphicons Halflings';
	content: '\e102';
}