@{
    var g = (Guid)PageData[0];
}

<a href="@Url.Action("Details", new { id = g })"><span class="btn btn-default col-xs-8 col-xs-1 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-md-3 col-md-offset-1 glyphicon glyphicon-option-horizontal"></span></a>