@{
	var g = (Guid)PageData[0];
}

<a href="@Url.Action("Edit", new { id = g })"><span class="btn btn-default col-md-3 col-md-offset-1 hidden-sm hidden-xs">Edit</span></a>
<a href="@Url.Action("Details", new { id = g })"><span class="btn btn-default col-xs-10 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-md-3 col-md-offset-1">Details</span></a>
<a href="@Url.Action("Delete", new { id = g })"><span class="btn btn-danger col-md-3 col-md-offset-1 hidden-sm hidden-xs">Delete</span></a>