@{
	var g = (Guid)PageData[0];
}

<span class="btn btn-default col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-2 col-xs-4 col-xs-offset-1">@Html.ActionLink("Edit", "Edit", new { id = g }) </span>
<span class="btn btn-danger col-md-2 col-md-offset-5 col-sm-3 col-sm-offset-1 col-xs-4 col-xs-offset-1">@Html.ActionLink("Delete", "Delete", new { id = g })</span>