@using Snowinmars.Ui.App_LocalResources

@{
    ViewBag.Title = "Banned";
    Layout = "~/Views/Layouts/_BannedLayout.cshtml";
}

<h2>@User.Identity.Name</h2>

<span>
    @Global.HomeBanned_BannedMessage
</span>