@using Snowinmars.Ui.App_LocalResources
@{
	ViewBag.Title = Global.BookBroken_Header;
	Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>@Global.FilmBroken_Header</h2>

<span>@Global.FilmBroken_Message</span>