@import "colorSchema";

.username {
	color: $personalPageUsername;
	margin-left: 1ex;
}

.tooltip {
	white-space: pre-wrap
}

.tooltip-inner {
	background-color: $tooltipInnerBackground;
	color: $tooltipInnerText;
	text-align: left;
}

.userDetailsMessages {
    margin-left: 5ex;
}

.serverFailMessage,
.successMessage {
    display: inline-block;
}

.serverFailMessage {
    visibility:visible;
    opacity:1;
    transition:opacity 0.5s linear;
}


.successMessage {

    visibility:visible;
    opacity:1;
    transition:visibility 0s linear 0.5s, opacity 0.5s linear;
}

.hiddenElement {
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s, opacity 0.5s linear;
}

.glyphicon-question-sign {
    padding-right: 0;
}