@model Snowinmars.Ui.Models.UserModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

@section Content
{
	<link href="~/Content/snowinmars/userDetails.css" rel="stylesheet" />
}

<div>
	<h4>Personal page</h4>
	<hr />
	<div class="dl-horizontal">
		@using (Html.BeginForm())
		{
			@Html.ValidationSummary(true)

			<h2 class="username col-xs-12">
				@Html.DisplayFor(model => model.Username)
			</h2>

			<div>
				<div class="col-xs-8">
					<div class="col-sm-1 col-xs-11">@Html.DisplayNameFor(model => model.Email)</div>
					<div class="col-xs-3">
						<span class="emailInputSuccessMessage hidden">saved</span>
						<span class="emailInputClientFailMessage hidden">'s wrong format</span>
						<span class="emailInputServerFailMessage hidden">wasn't saved</span>
					</div>
					<div class="col-sm-6 col-xs-12">@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control emailInput" } })</div>
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"
							  title="System can send you notification about your books' unfinished specification and errors in book processing.
	You can't setup this notification now.
	You can erase this field any time."></span>
				</div>
			</div>
		}
	</div>
</div>

@section Scripts
{
	
<script src="~/Scripts/snowinmars/userIndex.js"></script>
}
