.urls {
	margin-bottom: 3ex;
}

.urls > div {
	margin-right: 2ex;
}

.search-choice-close {
    visibility: hidden;
}

.chosen-container-multi .chosen-choices li.search-choice {
    padding-right: 5px;
}