@import "colorSchema";

.flibustaUrlButton,
.libRusEcUrlButton,
.liveLibUrlButton {
	top: 1px;
}

.urls {
	margin-bottom: 3ex;
}

.urls > div {
	margin-right: 2ex;
}

.urlSaveMessage {
	color: $urlSaveMessage;
}