.search-choice {
	display: inline;
}

.search-field {
	display: inline;
}

.chosen-container-multi .chosen-choices li {
	float: none;
}

.chosen-choices:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:inline-block;
	background: linear-gradient(to right, rgba(19,19,19,0) 70%, rgba(19,19,19,0.80) 100%);
}

.myBook .myBookIcon {
	display: inline !important;
}

.titleColumn {
	text-align: left;
}

.glyphicon-spin {
    -webkit-animation: spin 2500ms infinite linear;
    animation: spin 2500ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.search-choice-close {
    visibility: hidden;
}

.chosen-container-multi .chosen-choices li.search-choice {
    padding-right: 5px;
}