@using Snowinmars.Ui.App_LocalResources
@{
    ViewBag.Title = "BrokenDetails";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>@Global.BookBroken_Header</h2>

<span>@Global.BookBroken_Message</span>